body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

p {
    margin: 0;
    padding: 0;
    font-size: 75px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.row {
    width: 100px;
    height: 800px;

}

.box,
.box2 {
    width: 100px;
    height: 100px;
    background-color: #654321;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box:nth-child(even) {
    background-color: #936638;
}

.box2:nth-child(even) {
    background-color: #654321;
}

.box2:nth-child(odd) {
    background-color: #936638;
}