*{
    background: rgb(255, 247, 197);
}

.mover{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}


.foto{
    margin: 10px;
    border: 2px solid rgb(74, 36, 36);
    width: 200px;
    height: 250px;
    padding-bottom: 5%;
}

.foto img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1{
    text-align: center;
}

@media (max-width: 768px){
    .mover{
        flex-direction: column;
    }
}