.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2.1fr 0.4fr;
    gap: 1% 1%;
    grid-template-areas:
        "Header Header Header"
        "Sidebar Sidebar Main"
        "footer footer footer";
}

.Header {
    grid-area: Header;
    text-align: center;
}

.Sidebar {
    grid-area: Sidebar;
}

.Main {
    grid-area: Main;
}

.footer {
    grid-area: footer;
    font-family: 'Courier New', Courier, monospace;
    font-size:22px;
    text-align: center;
    height: 50%;
}


.Header,

.Sidebar,

.Main,

.footer{
    background-color: rgba(196, 255, 180, 0.714);
    border: 1px solid rgb(0, 98, 31);

}